@tailwind base;
@tailwind components;
@tailwind utilities;


.rbc-event, .rbc-day-slot .rbc-background-event {
  border: none;
  box-sizing: border-box;
  box-shadow: none;
  margin: 0;
  padding: 2px 5px;
  background-color: #2cff02 !important;
  border-radius: 5px;
  color: #fff;
  cursor: pointer;
  width: 100%;
  text-align: left;
}


.rbc-event.rbc-selected, .rbc-day-slot .rbc-selected.rbc-background-event {
  background-color: #fd0b03 !important;
}






select option {
  background-color: rgb(255, 255, 255) ;
border-radius: none;
   border: none;
}



.ant-table {
  border: none !important;
}

.ant-table-container {
  border: none !important;
}

.ant-table-thead > tr > th {
  border: none !important;
  background: #f5f5f5; 
}

.ant-table-tbody > tr > td {
  border: none !important;
}

.ant-pagination {
  border: none !important;
}






.ant-pagination-item {
  border-radius: 50% !important; 
}

/* Active pagination button */
.ant-pagination-item-active {
  background-color: #D9000A !important; /* Active background color */
  border-color: #D9000A !important;    /* Active border color */
}

/* Active pagination button text */
.ant-pagination-item-active > a {
  color: white !important; /* Ensure active text color is white */
}

/* Hover effect for buttons */



/* In your CSS file or inside a styled-components if you're using them */
.no-border-radius-modal .ant-modal {
  border-radius: 0 !important;
}




/* :where(.css-dev-only-do-not-override-49qm)[class^="ant-checkbox"] [class^="ant-checkbox"], :where(.css-dev-only-do-not-override-49qm)[class*=" ant-checkbox"] [class^="ant-checkbox"], :where(.css-dev-only-do-not-override-49qm)[class^="ant-checkbox"] [class*=" ant-checkbox"], :where(.css-dev-only-do-not-override-49qm)[class*=" ant-checkbox"] [class*=" ant-checkbox"] {
    box-sizing: border-box;
    background-color: #D9000A;
} */

:where(.css-dev-only-do-not-override-49qm).ant-checkbox-checked .ant-checkbox-inner {
  background-color: #000000;
  border-color: #000000;
}



:where(.css-dev-only-do-not-override-49qm).ant-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: #ff3916;
  
}




.custom-tabs .ant-tabs-tab.ant-tabs-tab-active .ant-tabs-tab-btn {
  color: red !important; 
}

.custom-tabs .ant-tabs-ink-bar {
  background-color: red !important; 
}


.custom-tabs .ant-tabs-tab:hover {
  color: inherit !important; 
}

.custom-tabs .ant-tabs-tab-btn:hover {
  color: inherit !important; 
}


.custom-tabs .ant-tabs-tab {
  border-bottom: none !important; 
}

.custom-tabs .ant-tabs-tab-active {
  border-bottom: 2px solid red !important;
}








