@tailwind base;
@tailwind components;
@tailwind utilities;















/* Remove all borders from the Ant Design Table */
.ant-table {
  border: none !important;
}

.ant-table-container {
  border: none !important;
}

.ant-table-thead > tr > th {
  border: none !important;
  background: #f5f5f5; /* Optional: Header Background */
}

.ant-table-tbody > tr > td {
  border: none !important;
}

.ant-pagination {
  border: none !important;
}





/* Pagination buttons style */
.ant-pagination-item {
  border-radius: 50% !important; /* Make buttons circular */
}

/* Active pagination button */
.ant-pagination-item-active {
  background-color: #f5222d !important; /* Active background color */
  border-color: #f5222d !important;    /* Active border color */
}

/* Active pagination button text */
.ant-pagination-item-active > a {
  color: white !important; /* Ensure active text color is white */
}

/* Hover effect for buttons */



/* In your CSS file or inside a styled-components if you're using them */
.no-border-radius-modal .ant-modal {
  border-radius: 0 !important;
}


